footer {
    padding: 40px 20px;
    background: var(--gray);
}

footer .footerHolder {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

footer .footerTop,
footer .footerBottom {
    display: flex;
}

footer .footerTop div,
footer .footerBottom p {
    padding: 20px;
}

footer .box1 .socialIcons {
    padding: 20px 5px;
}

footer .logoAllDark {
    max-width: 150px;
    margin-bottom: 20px;
}

footer .socialLink {
    margin-right: 40px;
}

footer .socialLink img {
    width: 30px;
}

footer h3 {
    color: var(--theme-color);
    margin-bottom: 2rem;
}

footer p {
    font-size: 20px;
    color: var(--gray-text);
}

footer a {
    color: inherit;
}

@media (max-width: 768px) {
    footer .footerTop,
    footer .footerBottom {
        display: block;

    }

    footer h3 {
        margin-bottom: 20px;
    }

    footer p {
        margin-bottom: 5px;
        font-size: 18px;
    }

    footer .socialIcons {
        padding: 40px 0px 10px;
    }

    footer .footerBottom {
        padding: 20px 0;
    }

    footer .footerBottom p {
        padding: 0 20px;
        margin-bottom: 5px;
    } 
}