.appIntro {
    background: var(--theme-color);
    position: relative;
}

.appIntro::after {
    content: '';
    width: 100%;
    height: 60px;
    background: var(--theme-color);
    position: absolute;
    left: 0;
    bottom: -30px;
    border-radius: 50%;
}

.introHolder {
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
}

.introHolder .introBoxes {
    width: 40%;    
    padding-right: 40px;
    min-width: 410px;
}

.introHolder .illustration1 {
    width: 60%;
    padding-left: 40px;
}

.introHolder .introBox {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    border: 3px solid;
    border-radius: 20px;
    background: var(--theme-dark-color);
    overflow: hidden;
}

.introHolder .iconHolder {
    border-radius: 15px;
}

.introHolder .iconHolder img {
    width: 100px;
    height: 100px;
    align-items: center;
    margin: auto;
    display: block;
    padding: 20px;
}

.introHolder .introBox:nth-child(1) .iconHolder {
    background: var(--green);
}

.introHolder .introBox:nth-child(2) .iconHolder {
    background: var(--purple);
}

.introHolder .introBox:nth-child(3) .iconHolder {
    background: var(--contrast-color);
}

.introHolder .introBox:nth-child(1) {
    border-color: var(--green);

}
.introHolder .introBox:nth-child(2)  {
    border-color: var(--purple);
}

.introHolder .introBox:nth-child(3)  {
    border-color: var(--contrast-color);
}

.introHolder .introBox p {
    color: var(--light-text);
    font-size: 22px;
    margin: 10px 20px;
}

.introHolder .illustration1  img {
    width: 100%;
}

@media (max-width: 1024px) {
    .appIntro::after {
        display: none;
    }

    .introHolder {
        flex-direction: column-reverse;
    }

    .introHolder .introBoxes,
    .introHolder .illustration1 {
        width: 100%;
        max-width: 600px;
        padding: 20px;
    }
}

@media (max-width: 560px) {
    .introHolder .introBoxes {
        min-width: 100%;
        padding: 20px 10px;
    }

    .introHolder .introBox {
        border-radius: 20px;
        margin: 20px auto;
    }

    .introHolder .introBox p {
        font-size: 16px;
    }
}