.section4 {
    padding: 3rem 0 6rem;
}

.section4 .grayBox {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 60px;
    background: var(--gray);
    width: 80%;
    padding: 80px 16%;
    position: relative;
}

.section4 .grayBox .btn {
    border-radius: 20px;
    padding: 20px 40px;
    background: var(--contrast-color);
    text-transform: lowercase;
    font-size: 20px;
    z-index: 2;
    color: var(--gray-lighter);
    transition: 0.3s;
}

.section4 .grayBox .btn:hover {
    background: var(--contrast-color);
    filter: brightness(0.9);
}

.MuiButton-label:first-letter {
    text-transform: capitalize;
}

.section4 .grayBox h2 {
    color: color(--theme-color);
    margin-bottom: 2rem;
    line-height: 3.5rem;
}

.section4 .grayBox p {
    font-size: 20px;
    color: var(--gray-text);
    line-height: 2rem;
}

.section4 .greenCircle {
    max-width: 300px;
    width: 100%;
    display: block;
    position: absolute;
    left: -120px;
    bottom: -100px;
    z-index: 1;
}

@media (max-width: 1024px) {
    .section4 .grayBox {
        width: 100%;
    }

    .section4 .greenCircle {
        left: initial;
        right: 0;
    }
}

@media (max-width: 768px) {
    .section4 .grayBox {
        padding: 4rem 2rem;
    }
    .section4 .greenCircle {
        width: 170px;
        height: 170px;
        bottom: -110px;
    }
}