.section2 {
    background: var(--theme-color);
    padding: 3rem;
}

.section2 .wrap {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section2 .wrap > div {
    margin: auto;
}

.section2 .illustration2 {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.section2 .textHolder {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    margin-left: 40px;
}

.section2 .btnsHolder .signUp,
.section2 .btnsHolder .signIn,
.section2 .textHolder h2 {
    color: var(--gray-light);
}

.section2 .textHolder p {
    font-size: 18px;
    color: var(--gray);
}

.section2 .btnsHolder .signUp,
.section2 .btnsHolder .signIn {
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 15px;
    text-transform: capitalize;
    margin: 20px 5px;
    transition: 0.3s;
}

.section2 .btnsHolder .signUp {
    background: var(--contrast-color);
}

.section2 .btnsHolder .signUp:hover {
    background: var(--contrast-color);
    filter: brightness(0.9);
}

.section2 .btnsHolder .signIn {
    border: 1px solid var(--gray-light);
}

@media (max-width: 1024px) {
    .section2 {
        padding: 1rem 0;
    }

    .section2 .wrap {
        flex-direction: column-reverse;
    }
}